// Colors

// <------------Background colors--------------->
$bg-blue-100 : #eef2ff;
$bg-blue-800 : #111827;
$bg-blue-700 : #1F2937;
$bg-white : #ffffff;

// <------------Text colors--------------->
$text-white : #ffffff;
$text-gray : #111827;
$text-red : #DC2626;
$text-blue : #3730A3;

// Font-size
$font-size-default : 1rem;
$font-size-small : .875rem;
$font-size-large : 2rem;

// Borders
$border-radius : .375rem;
$border-gray-100 : #D1D5DB;
$border-gray-200 : #9CA3AF;
$border-blue : #4338CA;

